@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --pink: #ff758f;
  --montserrat: "montserrat", sans-serif;
}
.simply-countdown {
  font-family: var(--montserrat);
  font-weight: 600;
}
.simply-countdown > .simply-section {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 20px;
  height: 20px;
  padding: 50px;
  margin: 10px;
  background: var(--pink);
  border-radius: 50%;
  color: white;
  font-size: 1rem;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}
